.app {
  width: 380px;
  padding: 32px;

  background-color: #ffffff;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.app h1 {
  font-size: 26px;
  margin-bottom: 24px;
  color: #ffb703;
  font-weight: 700;
}

input,
select {
  width: 100%;
  height: 48px;

  margin-bottom: 14px;
  padding: 0 12px;

  font-size: 18px;
  text-align: center;

  border-radius: 8px;
  border: 2px solid #f5c2d8;
  background-color: #fff;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ffb703;
}

.result-box {
  margin-top: 20px;
  padding: 16px;

  border-radius: 8px;
  border: 2px solid #ffb703;
  background-color: #fff9e6;
}


.result {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.result-placeholder {
  font-size: 18px;
  color: #999;
}


.error {
  font-size: 18px;
  color: #e63946;
  font-weight: 600;
}
